<footer>
    <div id="stone_brick_border_nav"></div>
    <div class="main-footer">
        <div 
            alt="GitHub Invertocat Logo linking to XCPika's GitHub profile" 
            class="social" id="github" aria-label="Github Social Link"
            role="button" onclick='window.open("https:\/\/github.com/XCPika")'
        ></div>
        <img 
            src="./assets/img/page/dark_mode/dark-mode.png" alt="Dark Mode toggle icon" 
            id="dark-mode-toggle" width="25px" height="25px"
            role="button" onClick="darkModeToggle()"
        >
    </div>
</footer>