<header>
    <nav>
        <div class="nav-left">
            <img 
                class="nav-button"
                src="./assets/img/page/navigation/title_classes.png" alt="Classes" 
                role="button" onClick="window.location='./classes.html'" tabindex="0"
                >
            <img 
                class="nav-button"
                src="./assets/img/page/navigation/title_races.png" alt="Races" 
                role="button" onClick="window.location='./races.html'" tabindex="0"
                >
            </div>
            <div class="nav-center">
                <img 
                src="./assets/img/page/navigation/nav-bar-icon.webp" alt="Fantastical Lands Server Icon"
                role="button" onClick="window.location='./index.html'" tabindex="0"
                >
                <img 
                src="./assets/img/page/navigation/title_fantastical_lands.webp" alt="Fantastical Lands Title Logo" 
                id="nav-title" 
                role="button" onClick="window.location='./index.html'"
                >
            </div>
            <div class="nav-right">
            <img 
                class="nav-button"
                src="./assets/img/page/navigation/title_items.png" alt="Items" 
                role="button" onClick="window.location='./items.html'" tabindex="0"
                >
            <img 
                class="nav-button"
                src="./assets/img/page/navigation/title_structures.png" alt="Roadmap" 
                role="button" onClick="window.location='./roadmap.html'" tabindex="0"
            >
        </div>
    </nav>
    <div id="stone_brick_border_nav"></div>
</header> 