/* CLASSES PAGE root/classes.html */
h2 {
    margin: 0;
}

main {
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 0.15fr 0.7fr 0.15fr;
    column-gap: 2%;
    margin: auto 0;
    min-height: 65svh;
    padding: 0 5%;
}

#class-view {
    grid-area: 2 / 1;
    grid-row-end: 2;
    overflow: auto;
    padding: 2%;
    background-color: rgb(209, 209, 209);
}   

body.dark-mode #class-view { background-color: rgb(52, 52, 52); }

.class-banner {
    position: relative;
    cursor: pointer;
    display:grid;
    aspect-ratio: 5.7;
    grid-template-columns: 17% 41.5% 41.5%;
    background-image: url('../img/class-banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3%;
}

.class-banner:last-child {
    margin-bottom:0;
}

.class-banner-icon {
    position: absolute;
    top:13%;
    left:2.5%;
    grid-area: 1 / 1;
    aspect-ratio: 1;
    height: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto auto;
}

.class-banner-impact {
    position: absolute;
    right:5%;
    bottom:38%;
    aspect-ratio: 15 / 4;
    grid-area: 1 / 3;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30%;
}

.class-banner-impact.impact-0 { background-image: url('../img/icons/impact_0.png'); }
.class-banner-impact.impact-1 { background-image: url('../img/icons/impact_1.png'); }
.class-banner-impact.impact-2 { background-image: url('../img/icons/impact_2.png'); }
.class-banner-impact.impact-3 { background-image: url('../img/icons/impact_3.png'); }

.class-banner-title {
    
    position: absolute;
    top:29%;
    left:19%;
    font-size: 1.2vw;
    letter-spacing: 0.5px;
    margin: 0;
}

#class-details {
    position: relative;
    grid-area: 1 / 2;
    grid-row-end: 4;
    background-color: rgb(209, 209, 209);
}

.main-class-details {
    position: absolute;
    font-size: 1.2vw;
    top: 0;
    left: 0;
    margin-top: 3%;
    margin-left: 2.3%;
    overflow-y: scroll;
    height: calc(100% - 5.5vh);
}

body.dark-mode #class-details { background-color: rgb(52, 52, 52); }

#class-details > .class-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    background-size: contain;
    cursor: default;
    margin-left: -3.5%;
    margin-top: -3.5%;
    margin-bottom: -3.5%;
}



#class-details .class-banner-title { font-size: 1.7vw; }