/* MAIN STYLESHEET */
html { font-family: ChillPixelsMaximal;}

body { 
    min-height: 100svh;
    max-height: 100svh;
    color: #1c1c1c;
    background-image: var(--bg);
    display:flex;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: #242424 #343434;
}

body.dark-mode { background-image: var(--bg-dark); color:rgb(225, 225, 225); }

/* HEADER/NAV */
header { position: sticky ; z-index: 1;}

nav {
    background-image: var(--nav-bg);
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0.3% 0.3% 0 0.3%;
}

nav img { 
    cursor: pointer; 
    height:100%;
    aspect-ratio: 3 / 1;
}

.nav-left, .nav-right , .nav-center { float:left; width:40%; }
.nav-right > *{ float:right; }

.nav-center {
    width:20%;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.nav-center :first-child {
    height: min(max(50px, 5svw), 80px);
    aspect-ratio: 1;
}

#nav-title {
    position: absolute;
    top: 68%;
    height:80%;
    aspect-ratio: 7 / 1;
    z-index: 9999;
}

.nav-button {
    height: 80%;
}

/* MAIN */
main {
    position: static;
    display:grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 0.15fr 0.7fr 0.15fr;
    column-gap: 2%;
    margin: auto 0;
    padding: 0 5%;
    min-height: 65svh;
}

/* FOOTER */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: flex-end;
    background-image: var(--nav-bg);
    max-height: min-content;
}

#stone_brick_border_nav{
    background-image: var(--stone-border);
    background-repeat: repeat-x;
    height:0.6svw;
    min-height:6px;
    max-height:12px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1), 0 0 5px 0 rgba(0, 0, 0, 0.19);
    border-bottom: solid 1px rgb(0, 0, 0);
    border-top: solid 1px rgb(0, 0, 0);
}



/* SCROLL BAR */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #505050; }
::-webkit-scrollbar-thumb { background: #343434; }
::-webkit-scrollbar-thumb:hover { background: #404040; }