/* MAIN STYLESHEET */
html { font-family: ChillPixelsMaximal;}

body { 
    min-height:100svh;
    color: #1c1c1c;
    margin: 0;
    display : flex;
    align-items: stretch;
    flex-direction: column;
    background-image: var(--bg);
}

body.dark-mode { background-image: var(--bg-dark); color:rgb(225, 225, 225); }

/* HEADER/NAV */
header { position: sticky ; }

nav {
    background-image: var(--nav-bg);
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0.3% 0.3% 0 0.3%;
}

nav img { cursor: pointer; }

.nav-left, .nav-right , .nav-center { float:left; width:40%; }
.nav-right > *{ float:right; }

.nav-center {
    width:20%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#nav-title {
    position: absolute;
    transform: translateY(70%);
}

/* MAIN */
main {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 5% 10%;
}

/* FOOTER */
footer{
    justify-content: flex-end;
    background-image: var(--nav-bg);
    max-height: min-content;
}

#stone_brick_border_nav{
    background-image: var(--stone-border);
    background-repeat: repeat-x;
    height:0.6vw;
    min-height:6px;
    max-height:12px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1), 0 0 5px 0 rgba(0, 0, 0, 0.19);
    border-bottom: solid 1px rgb(0, 0, 0);
    border-top: solid 1px rgb(0, 0, 0);
}



/* SCROLL BAR */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #343434; border-radius: 15px; }
::-webkit-scrollbar-thumb:hover { background: #545454; }