html {
    height:100%;
    width:100vw;
    font-family: Tahoma;
}

body { 
    display : table;
    height:100%;
    width:100%;
    background-image: url("img/page/background.png") ;
    margin: 0;
}

body.dark-mode {
    background-image: url("img/page/background-dark.png");
    color:rgb(213, 213, 213);
}

header { position: sticky ; }

nav {
    background-image: url('img/page/navigation/nav-bar.png');
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0.3% 0.3% 0 0.3%;
}

.nav-left, .nav-right , .nav-center {
    float:left;
    width:40%;
}

.nav-right > *{
    float:right;
}

.nav-center {
    width:20%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#nav-title {
    position: absolute;
    transform: translateY(70%);
}

footer{
    display : table-footer-group;
    background-image: url('img/page/navigation/nav-bar.png');
    max-height: min-content;
}

#stone_brick_border_nav{
    background-image: url("img/page/navigation/stone_brick_border.png");
    background-repeat: repeat-x;
    height:0.6vw;
    min-height:6px;
    max-height:12px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1), 0 0 5px 0 rgba(0, 0, 0, 0.19);
    border-bottom:solid 1px rgb(0, 0, 0);
    border-top:solid 1px rgb(0, 0, 0);
}
